/*
.ItemImg{
    width: 250px;
    height: 250px;
}

.CardItem{
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 20px;
    padding: 30px;
    box-shadow: -4px 2px 40px 0px rgba(255, 255, 255, 0.75);
    width: 100%;
}

 */

