.containerCart .cartIcon{
    font-size: 30px;
    color: red;
    cursor: pointer;
    justify-content:right;
}

.cartNumber{
    position: absolute;
    font-size: 23px;
    font-weight: 500;
    top: -12px;
    right: -10px;
    color:red;
}

.containerCart{
    position: relative;
}