.title {
    text-align: center;
    border: 1px solid red;
    border-radius: 5px;
    background-color:red;
    box-shadow: -4px 2px 40px 0px rgba(255, 0, 0, 0.75);
    margin: 15px;
    padding: 20px;
  }

.title h1{
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 15px;   
    font-style:italic;
    margin-bottom: 70px;
}   
